* {
    margin: 0;
    background-color: rgb(1, 1, 1);
}
body {
    padding-top: 4em;
    align-content: center;
    box-shadow(.5rem .5rem 1rem black);
}
canvas {
    display: block;
    margin: 0 auto;
    border: none;
}
